body {
    padding: 10px;
    align-content: center;
    text-align: center;
}

#print_timer {
    color: darkblue;
    font-size: 100px;
}

#letter_to_play {
    color: darkblue;
    font-size: 100px;
}

#print_test {
    color: shadow;
    font-size: 50px;
}

#print_categories { 
    color: shadow;
    font-size: 25px;
}

#wip {
    color: grey;
    font-size: 100px;
}

