{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Categories{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'categories/styles.css' %}" rel="stylesheet">
        <script src="{% static 'categories/categories.js' %}"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Categories Homepage</a>

            <div>
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li  class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><b>Log out {{ user.username }}</b></a>
                    </li>
                    {% else %}
                    <li  class="nav-item">
                        <a class="nav-link" href="#"><b>Log in</b></a>
                    </li>
                    {% endif %}

                    <li  class="nav-item">
                        <a class="nav-link" href="javascript:online_view();">Play Online</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:offline_view();">Play Offline</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:rules_view();">How to Play</a>
                    </li>
              </ul>
            </div>
        </nav>
        
        <br><br>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>